@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!-- Кнопка для перехода к управлению поселениями -->
    <div class="mt-4">
        <a class="btn btn-primary" asp-controller="Settlement" asp-action="Index">Управление поселением</a>
    </div>
</div>