@model IEnumerable<SettlementManager.Models.Settlement>


@{
ViewData["Title"] = "Управление поселениями";
}

<h1>@ViewData["Title"]</h1>

<!-- Кнопка для создания нового поселения -->
<div class="mb-3">
    <a class="btn btn-success" asp-controller="Settlement" asp-action="AddSettlement">Создать поселение</a>
</div>

@if (Model != null && Model.Any())
{
<div class="list-group">
    @foreach (var settlement in Model)
    {
    <a class="list-group-item list-group-item-action" asp-controller="Settlement" asp-action="Manage" asp-route-settlementId="@settlement.Id">
        @settlement.Name
    </a>
    }
</div>
}
else
{
<p>Нет поселений для отображения.</p>
}

