@{
    ViewData["Title"] = "Управление поселением";
}

<h1>@ViewData["Title"]</h1>

<div class="list-group">
    <a class="list-group-item list-group-item-action" asp-controller="Settlement" asp-action="AddResident">
        Добавить поселенца
    </a>
    <a class="list-group-item list-group-item-action" asp-controller="Settlement" asp-action="AddDistrict">
        Добавить район
    </a>
    <a class="list-group-item list-group-item-action" asp-controller="Settlement" asp-action="BuildDistrict">
        Построить район
    </a>
    <a class="list-group-item list-group-item-action" asp-controller="Settlement" asp-action="GetInfoSettlement">
        Информация о поселении
    </a>
    <a class="list-group-item list-group-item-action" asp-controller="Settlement" asp-action="GetResidents">
        Поселенцы в районе
    </a>
    <a class="list-group-item list-group-item-action" asp-controller="Settlement" asp-action="AddSpear">
        Добавить копье
    </a>
    <a class="list-group-item list-group-item-action" asp-controller="Settlement" asp-action="SetAsSpearLeader">
        Установить лидера копья
    </a>
</div>